@font-face {
    font-family: Italiana ;
    src: url(".././fonts/Italiana/Italiana-Regular.ttf");
}
@font-face {
    font-family: PlayfairRegular ;
    src: url(".././fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf");
}

body{
    background-color:rgb(248,223,219);
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(201,35,30);
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.navbar{
    background-color: rgb(248,223,219);
    padding: 20px;
    margin-bottom: 1em;
    position: fixed;
    width: 100%;
    height: 2em;
    top: 0;
    transition: 1s;
}
.logo{
    font-family: Italiana;
    font-size: 35px;
    font-weight: bolder;
}
.linknav{
    font-size: 25px;
    margin-right: 3em;
    font-family: PlayfairItalic;
}
.banner{
    width: auto;
    height: 40em;
    background-image: url("../img/nadiaavima040.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}
.textbanner{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-left: 400px;
    padding-top: 410px;
    font-family: Italiana;
    font-weight: lighter;
}
.themeaning{
    font-family: Italiana;
    font-size: 40px;
    text-align: center;
    color: rgb(201,35,30);
    padding: 2rem 2rem;
}
.firstpart{
    margin: 3em 3em 3em 3em;
}
.firstparttext{
    font-size: 25px;
}
.firstparttext2{
    font-size: 18px;
}
.Part1Text{
    padding: 3em 3em;
    margin-left: 8rem;
    margin-right: 8rem;
}
