{% extends "base.html.twig" %}
{% block main %}
    <div class="banner">
        <div class="textbanner"><h1>I am Sarada Muladhara.</h1></div>
    </div>

    <div class="firstpart">
        <h1 class="themeaning">The Meaning behind the practice</h1>

            <div class="Part1Text">
                <p class="firstparttext">Sarada Muladhara is the Goddess of the Root Chakra. </p>
                <p class="firstparttext2">All themes of the root including <strong>love, sex, death, birth, rebirth,
                    family, occult knowledge and underworld</strong> journeys are her oeuvre. She supports you in breaking the generational
                curses that bind you to conformity, dissatisfaction and self hatred. In place of these curses, <strong>true love, inner
                knowing and deep sensual pleasure can grow.</strong> </p>

        </div>
    </div>

    <div class="secondpart">
        <h2 class="beforewebegin">Before we begin</h2>

            <div class="Part2Text">
                <p class="importantsentence">We start with a <a class="blacklinks" href="https://heavenonearth.as.me/consultation" target="_blank">consultation</a>
                    and then decide how best to proceed. I recommend everyone who works with me take my
                    <a class="blacklinks" href="https://payhip.com/b/GwQ0A" target="_blank">reiki</a>
                    class and perform my <a class="blacklinks" href="https://payhip.com/b/sTlk" target="_blank">ritual</a>
                    in order to rapidly advance your ascension.</p>

                <p>I have special offerings available via my <a class="blacklinks" href="https://www.patreon.com/rootchakragoddess" target="_blank">Patreon</a>
                    in addition to my readings and other videos on <a class="blacklinks" href="https://www.youtube.com/rootchakragoddess" target="_blank">YouTube</a>.
                    One on one coaching packages are available as an option after consulting with me.
                    I am looking forward to working with you and helping you take up more space in this world joyfully by being your truest self.</p>
        </div>
    </div>

{% endblock main %}